<html>

<head>
    <link rel="stylesheet" href="index.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <title>Vue JS learning</title>
</head>

<body>
    <!-- <div id="app">{{ message }}</div>
    <div id="app2">
        <span v-if="seen">Now you see me</span>
    </div>
    <div id="app3">
        <ol>
            <li v-for="todo in todos">{{ todo.text }}</li>
        </ol>
    </div> -->
    <!-- <div id="app4">
        <h1>User Details Fetch With Vue Js</h1>
        <table class="table table-striped table-bordered">
            <tbody>
                <tr>
                    <td v-for="firstname in firstname">
                        First Name : {{firstname.name}}
                    </td>
                </tr>
                <tr>
                    <td v-for="lastname in lastname">Last Name : {{lastname.name}}</td>
                </tr>
                <tr>
                    <td v-for="handle in handle">Handle : {{handle.name}}</td>
                </tr>
            </tbody>
        </table>
    </div> -->
    <!-- <div id="app5">
        <p>{{ message }}</p>
        <button v-on:click="reverseMessage">Reverse Message</button>
    </div> -->
    <!-- <div id="app6">
        <p>{{ message }}</p>
        <input v-model="message" />
    </div> -->
    <!-- <div id="app7">
        <ol>
            <todo-item></todo-item>
        </ol>
    </div> -->
    <!-- <div id="app8">
        <ol>
            <todo-item v-for="item in groceryList" v-bind:todo="item" v-bind:key="item.id"></todo-item>
        </ol>
    </div> -->

    <script src="index.js"></script>
</body>

</html>